<% provide(:title, @user.name) %>
<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <h1>
      
        <%= @user.name %>
      </h1>
    </section>
  </aside>
</div>

  <table class="txt1 table table-bordered table-striped table-condensed table-status">
    <thead>
      <tr>
        <th class="table-header">出社</th>
        <th class="table-header">退勤</th>
      </tr>
    </thead>
    <thead>
      <tr>
        <th class="table-header">出社</th>
        <th class="table-header">退勤</th>
      </tr>
    </thead>
    </table>
    </table>