<% provide(:title, @user.name) %>
<div class="row">
  <aside class="col-md-4">
    <section class="user_info">

    </section>
  </aside>
</div>



  <table class="txt1 table table-bordered table-striped table-condensed table-status">
    <thead>
      <tr>
        <th>⬅</th>
        <th>2018年5月</th>
        <th>➡️️︎︎</th>
        <th>指定勤務時間</th>
        <th colspan="2">基本時間</th>
        <th>初日</th>
      </tr>
    </thead>
    <thead>
      <tr>
        <th>所属</th>
        <th>氏名 <%= @user.name %></th>
        <th>コード</th>
        <th>出勤日数</th>
        <th >締め</th>
      </tr>
     </thead>
     
  <table class="table table-bordered table-striped table-index" >
       <a class="btn btn-default active">編集</a>
      <tr>
        <th>日付</th>
        <th >曜日</th>
        <th>出社</th>
        <th>退社</th>
        <th>時</th>
        <th>分</th>
        <th>時</th>
        <th>分</th>
      </tr>
    </thead>
    </table>
    </table>
